@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@media (max-width: 767px){
header nav {
    display: none;
 } 
}
@media (max-width: 767px){
.header-logo {
    margin: 10px auto;
}

}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.vertical {
    border-left: 1px solid white;
    height: 15px;    
    left: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.nav{
    background-color:black;
    display: flex;
    justify-content: flex-end;    
    width: 100%;    

}
html header {
    margin:0;
    padding:0;
}

.signin{
    color:white;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    font-family: Dosis Pro,sans-serif;        
 
}
.join{
    color:white;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 150px;    
}

.topnav a {
    float: left;
    color: #787878;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;    
    font-weight: 400;
    background-color: transparent;
    font-family: Source Sans Pro,sans-serif;
    line-height: 1.9;
    box-sizing: border-box;
    
  }
  header {
    
    z-index: 1;
    position: fixed;
    padding: 0 30px;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.shopbag {
    width:50px;
    height:50px;
    float:right;
    display:flex;
    margin-right: 140px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.shirt{  
   
    max-width:470px;
    max-height:470px;
    padding-top: 180px;
    padding-left: 680px;
}
.palermo{
    float:right;
    margin-right:570px;       
    padding-top:120px;
    color: rgba(113, 113, 113, 0.838);
    font-size: 26px;    
    font-weight: 100;
    background-color: transparent;
    font-family: Source Sans Pro,sans-serif;
    font-style: oblique;
}
.price{
    float:right;
    margin-right: -43px;   
    padding-top:180px;
    color: rgba(142, 142, 142, 0.784);
    font-size: 26px;    
    font-weight: 100;
    background-color: transparent;
    font-family: 'Lato',sans-serif;
    font-style: normal;
}

.fitlogo{
    width: 35px;
    height: 35px;
    margin-top:360px;
    margin-right: -150px;
    float: right; 
   
}
.fit{
    float:right;
    text-align: right; 
    
    margin-top: 362px;
     margin-right: -340px;
    font-size: 20px; 
    background-color: transparent;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    color: rgba(164, 164, 164, 0.674);       
    font-weight: 100;
}
.main-nav{
    display :inline-block;
    float:right;
    margin-right: 100px;

}
.scilogo{
    width: 35px;
    height: 35px;
    margin-top:408px;
    margin-right: -150px;
    float: right;
    border-radius: 50%;    
    border: 0.01px solid rgba(164, 164, 164, 0.263);

}
.sewn{
    float:right;
    text-align: right;     
    margin-top: 410px;
     margin-right: -410px;
    font-size: 20px; 
    background-color: transparent;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    color: rgba(164, 164, 164, 0.674);       
    font-weight: 100; 
}
.box{
    float:right;
    text-align: right;     
    margin-top: 460px;
     margin-right: -514px;
    font-size: 20px; 
    background-color: transparent;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    color: rgba(164, 164, 164, 0.674);       
    font-weight: 100; 
}
.devlogo {
    width: 45px;
    height: 45px;
    margin-top:460px;
    margin-right: -155px;
    float: right;
   
    
}
.datespan{
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    color: rgb(121, 121, 121); 
}
.cart button {
    text-align: center;
    white-space: nowrap;
    border: none;
    outline: 0;    
    color: white;
    background-color: rgb(2, 10, 74);    
    cursor: pointer;
    width: 36%;
    padding-top:10px;
    padding-left: 405px;
    padding-right: 405px;
    padding-bottom:10px;
    font-size: 18px;
    margin-right: -920px;
    text-align: center;
    float: right;    
    margin-top:580px;   
    
  }


  $bg: #fff;
  $text: #7288a2;
  $gray: #4d5974;
  $lightgray: #e5e5e5;
  $blue: #03b5d2;
  
  * {
    box-sizing: border-box;
    &::before, &::after {
      box-sizing: border-box;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background: $bg;
    color: $gray;
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .accordion {
    .accordion-item {
      border-bottom: 1px solid $lightgray;
      button[aria-expanded='true'] {
        border-bottom: 1px solid $blue;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: $text;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover, &:focus {
        cursor: pointer;
        color: $blue;
        &::after {
          cursor: pointer;
          color: $blue;
          border: 1px solid $blue;
        }
      }
      .accordion-title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: $blue;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
    }
  }